<html>
<body>
<h1 style='font-size: 80px; text-align:center; margin-top: 100px;'> Check Your Internet Connection !! </h1>
<h1 style='font-size: 30px; text-align:center; margin-top: 10px; color: brown;'> Consider trying after sometime </h1>
</body>
</html>