<html>
<title>Programming with Adarsh Agrawal</title>
<body>
<h1 style="text-align: center; font-size: 80px; margin-top: 40px;">Data Structure and Algorithms</h1>
<p style='margin-left: 45px; font-size: 25px;'>
<a href=ans/array> Array </a>  <br> <br>
<a href=ans/math> Math </a> <br><br>
<a href=ans/binary> Binary Search </a> <br><br>
<a href=ans/strings> Strings </a> <br><br>
<a href=ans/bit> Bit Manipulation </a> <br><br>
<a href=ans/two> Two pointers </a> <br><br>
<a href=ans/ll> Linked List </a> <br><br>
<a href=ans/saq> Stacks and Queues </a> <br><br>
<a href=ans/bk> Backtracking </a> <br><br>
<a href=ans/hash> Hashing </a> <br><br>
<a href=ans/ham> Heaps and Maps </a> <br><br>
<a href=ans/tree> Tree Data Structure </a> <br><br>
<a href=ans/dp> Dynamic Programming </a> <br><br>
<a href=ans/greedy> Greedy Algorithm </a> <br><br>
<a href=ans/graph> Graph data structure and algorithm </a> <br><br>
</p>

</body>
</html>